:root {
	--page-space: 20px;
}

html {
	font-family: "NotoSans", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 90px;

	& ::selection {
		background-color: var(--secondary_color_1-light-1);
	}

	& body {
		margin: 0;
		min-height: 100dvh;
		background-color: var(--primary_color-dark-1);
		color: var(--text_color_white);

		& img {
			pointer-events: none;
			-ms-user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		& .no-text-select {
			-ms-user-select: none;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		& .max-width {
			max-width: 1280px;
			padding-inline: var(--page-space);
			margin: auto;
		}

		& .underline {
			text-decoration: underline;
		}

		& .yellow {
			color: var(--complementary_color-light-1);
			font-weight: bold;
		}
	}
}
