---
import "./ContactSection.css";
---

<section id="contact">
	<header>
		<h2 class="title-section">Contacto</h2>
	</header>

	<article class="card">
		<p>
			¡En resumen, estoy en un viaje 🧳 <span class="yellow">constante de mejora</span> personal y profesional! Cada día, trabajo para ser más
			<span class="underline">eficiente</span> 🤖, <span class="underline">colaborativo</span> 🤝 y
			<span class="underline">adaptable</span> en mi enfoque laboral 🧑‍💼. Estoy emocionado por las oportunidades de crecimiento 🪴 que me esperan y estoy comprometido
			a seguir <span class="yellow">evolucionando</span> como profesional 💡.
		</p>
		<p>
			Si deseas ponerte en <span class="yellow">contacto conmigo</span>, no dudes en <span class="underline">enviarme un mensaje</span>. Estoy <span
				class="yellow">disponible</span
			> para <span class="underline">colaboraciones</span>,
			<span class="underline">consultas</span> o simplemente para <span class="underline">charlar</span> sobre proyectos interesantes.
		</p>
		<p><span class="yellow">¡Hablemos!</span> 🚀📩</p>
	</article>

	<article class="links">
		<ul>
			<li>
				<a
					href="https://www.linkedin.com/in/david-tojo-yebra-581533176/"
					target="_blank"
					rel="noopener"
					title="Perfil de LinkedIn de David Tojo"
					class="btn all-round"
				>
					<img src="assets/icons/linkedin.svg" alt="LinkedIn" />
				</a>
			</li>
			<li>
				<a href="https://github.com/t19d" target="_blank" rel="noopener" title="Perfil de GitHub de David Tojo" class="btn all-round">
					<img src="assets/icons/github.svg" alt="GitHub" />
				</a>
			</li>
			<li>
				<a href="mailto:proyectostoyedev@gmail.com" title="Enviar correo electrónico a David Tojo" class="btn all-round">
					<img src="assets/icons/email.svg" alt="Correo electrónico" />
				</a>
			</li>
		</ul>
	</article>
</section>
