a {
	position: relative;
	color: var(--text-primary);

	&:not(.btn) {
		&::after {
			position: absolute;
			content: "";
			background: var(--accent-gradient);
			top: 100%;
			left: 0;
			width: 0;
			height: 1.5px;
			transition: width 0.3s cubic-bezier(0.16, 1, 0.3, 1);
		}

		&:focus::after,
		&:hover::after {
			width: 100%;
		}
	}
}
