#skills {
	display: flex;
	flex-direction: column;
	gap: 2.5dvh;

	& .technologies {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 50px;

		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}

		& .card {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			background-color: var(--secondary_color_1-light-2_20);
			padding: 2.5rem;
			border-radius: 24px;
			box-shadow: 0 0 3px var(--secondary_color_1-light-2);

			@media (min-width: 769px) {
				&:last-child {
					grid-column: 1 / 3;
				}
			}

			& h3 {
				font-size: 2rem;
				font-variation-settings: "wght" 600, "wdth" 62.5;
				letter-spacing: 5px;
				text-align: center;
				text-transform: uppercase;
				text-shadow: 0 0 4px var(--secondary_color_1-light-2);
			}

			& ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 2rem;

				& li {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 5rem;
					aspect-ratio: 1/1;
					background-color: var(--background_color_white);
					border-radius: 24px;
					box-shadow: 0 0 3px var(--secondary_color_1-light-2);

					& img {
						max-width: 75%;
						object-fit: scale-down;
					}

					&:hover .tooltip {
						opacity: 1;
						transition: all 0.5s;
					}

					& .tooltip {
						position: absolute;
						bottom: 100%;
						opacity: 0;
						transition: opacity 0.3s;
						line-height: 2rem;
					}
				}
			}
		}
	}
}
