---
import "./MainHero.css";
---

<section id="top" class="no-text-select">
	<article class="me-title">
		<img src="assets/img/me.png" alt="David Tojo" />
		<h1>David Tojo</h1>
		<h2>desarrollador fullstack</h2>
	</article>
	<article class="links">
		<a
			href="https://www.linkedin.com/in/david-tojo-yebra-581533176/"
			target="_blank"
			rel="noopener"
			title="Perfil de LinkedIn de David Tojo"
			class="btn all-round"
		>
			<img src="assets/icons/linkedin.svg" alt="LinkedIn" />
		</a>
		<a href="https://github.com/t19d" target="_blank" rel="noopener" title="Perfil de GitHub de David Tojo" class="btn all-round">
			<img src="assets/icons/github.svg" alt="GitHub" />
		</a>
	</article>
</section>
