---
import "./MainHeader.css";
---

<header class="menu no-text-select" id="main-header">
	<div class="max-width">
		<nav class="mobile">
			<a class="logo" href="#top" aria-label="Ir al inicio">
				<span class="logo-text">DTY<span class="logo-dot">.</span></span>
			</a>

			<input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox" />
			<label for="menu-toggle" class="menu-toggle-label" aria-label="Toggle Menu">
				<span></span>
				<span></span>
				<span></span>
			</label>
		</nav>

		<nav class="map">
			<a class="logo" href="#top" aria-label="Ir al inicio">
				<span class="logo-text">DTY<span class="logo-dot">.</span></span>
			</a>

			<ul>
				<li><a href="#experience">experiencia</a></li>
				<li><a href="#projects">proyectos</a></li>
				<li><a href="#skills">habilidades</a></li>
				<li><a href="#me">sobre mí</a></li>
				<li><a href="#contact">contacto</a></li>
			</ul>

			<a href="/assets/files/David_Tojo_CV.pdf" download class="btn download-cv">descargar CV</a>
		</nav>
	</div>
</header>
